:root{
    --bg-dk-blue:#131921;
    --bg-lg-blue:#232f3e;
    --bg-grey:#f3f3f3;
    --bg-hover-grey:#c4c4c4;
    --bg-yellow:#ffd774;
    --bg-hover-yellow:#ffbd15;
    --bg-main:#eaeded;
    
    --clr-lg-blue:#007185;
    --clr-white:#ffffff;
    --clr-black:#0f1111;
    --clr-grey: #4f4f4f;;

};
