@import "scss/_reset.scss";
@import "scss/_colors.scss";
@import "scss/_navigation.scss";
@import "scss/_variables.scss";
@import "scss/_box.scss";
@import "scss/_footer.scss";

html{
    background-color: var(--bg-main);
}
main{
    margin-left: auto;
    margin-right: auto;
    width: calc(min(1500px, 98vw));
}
.bg-top{
    margin-bottom: 30px;
}
.margin-top{
    margin-top:250px;
}
.bg{
    background-image: url(../images/bg-top.jpeg);
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


.main-grid{
    display: grid;
    gap: 1.5rem 0;
}

.list{
    justify-content: space-around;
    padding-bottom: 1rem;
}
